@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@layer base {
  body {
    @apply bg-my-yellow text-my-blue min-h-screen font-inter;
  }

  ::placeholder {
    @apply text-gray-400;
  }

  .titleContainer {
    @apply flex flex-col justify-center items-center bg-my-blue text-white rounded-2xl max-h-3 p-8 w-80 mb-1;
  }

  .formContainer {
    @apply flex flex-col justify-center items-center bg-white rounded-2xl p-5 w-80 gap-4;
  }

  .storyContainer {
    @apply flex flex-col justify-start items-center bg-white p-5 gap-5 w-1/4 h-full;
  }

  .input_text_b {
    @apply w-1/2 h-1/6 rounded-2xl rounded-t-none resize-none outline-none text-[20px] text-center font-semibold;
  }

  .input_text_s {
    @apply w-1/2 rounded-2xl rounded-t-none resize-none outline-none text-[20px] text-center font-semibold;
  }

  .sett-table {
    @apply flex flex-col w-1/2 text-[24px] text-center;
  }

  .sett-title {
    @apply bg-my-blue font-bold text-white rounded-t-2xl
  }

  .sett-row {
    @apply bg-white flex flex-row text-center;
  }

  .sett-row:last-child {
    @apply rounded-b-2xl;
  }

  .sett-col {
    @apply flex-1 p-1 text-center
  }

  .sett-col input[type='radio'] {
    @apply pr-1;
  }

  .storyText {
    @apply h-5/6 text-[20px] text-center p-2;
    background-color: white
  }
}

@layer utilities {
  /* TYPOGRAPHY */
  .h1-bold {
    @apply text-[62px] font-bold leading-[140%] tracking-tighter;
  }

  .h1-semibold {
    @apply text-[62px] font-semibold leading-[140%] tracking-tighter;
  }

  .h2-bold {
    @apply text-[48px] font-bold leading-[140%];
  }

  .h3-bold {
    @apply text-[40px] font-bold leading-[140%];
  }

  .base-semibold {
    @apply text-[16px] font-semibold leading-[140%] tracking-tighter;
  }

  .base-medium {
    @apply text-[24px] font-medium leading-[140%];
  }

  .base-regular {
    @apply text-[24px] font-normal leading-[140%];
  }

  .body-bold {
    @apply text-[20px] font-bold leading-[140%];
  }

  .body-medium {
    @apply text-[20px] font-medium leading-[140%];
  }

  .small-semibold {
    @apply text-[18px] font-semibold leading-[140%] tracking-tighter;
  }

  .small-medium {
    @apply text-[18px] font-medium leading-[140%];
  }

  .small-regular {
    @apply text-[18px] font-normal leading-[140%];
  }

  .subtle-semibold {
    @apply text-[14px] font-semibold leading-[140%];
  }

  .subtle-regular {
    @apply text-[14px] font-normal leading-[140%];
  }

  .tiny-medium {
    @apply text-[14px] font-medium leading-[140%];
  }

  /* UTILITIES */
  .invert-white {
    @apply invert brightness-0 transition;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-end {
    @apply flex justify-center items-end;
  }
  
  .top-bar {
    @apply flex items-center w-full p-4 px-10;
  }

  .t-title {
    @apply top-bar justify-center;
  }

  .select-bar {
    @apply flex-end w-full p-44;
  }
}


@layer components {
  /* Button */
  .button_primary {
    @apply bg-my-blue text-white gap-2 w-32 h-14 text-[20px] font-semibold !important;
  }

  .item_button {
    @apply bg-my-blue text-white w-3/4 rounded-3xl text-[20px] font-semibold py-8 whitespace-normal !important;
    max-width: 75%;
  }

  .submit_button {
    @apply bg-my-blue text-white w-1/6 rounded-2xl text-[20px] font-semibold py-8 whitespace-normal !important;
    max-width: 75%;
  }

  .home_button {
    @apply bg-my-blue text-white w-1/4 h-60 rounded-3xl text-[32px] leading-[120%] font-semibold py-8 whitespace-normal !important;
    max-width: 75%;
  }
}