@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
	display: flex;
	padding: 0;
	margin: 0;
	--txt-blue: #1982C4;
	--bg-blue: #DFFFFD;
	align-items: center;
	justify-content: center;
	background-color: var(--bg-blue);
	font-family: "Inter", sans-serif;
	color: var(--txt-blue);
	font-size: 20px;
}

body {
	display: flex;
	width: 100%;
	height: 100%;
}

textarea {
	resize: none;
}

textarea:focus {
	outline: none;
}

:root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;	
	border: 0;
} 


::placeholder {
	color: lightgrey;
}

.container {
	height: inherit;
	width: inherit;
	display: flex;
	flex-direction: row;
	min-height: 60vh;
	padding: 0;
	margin: 0;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.container-v {
	height: inherit;
	width: inherit;
	display: flex;
	flex-direction: column;
	min-height: 60vh;
	padding: 0;
	margin: 0;
	width: 100%;
	align-items: center;
}

.side-bar {
	height: inherit;
	background-color: white;
	color: var(--txt-blue);
	min-width: 30%;
	max-width: 30%;
	padding: 16px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.top-bar {
	width: 100%;
	padding: 16px;
	padding-left: 40px;
	padding-right: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	flex-wrap: nowrap;
	flex-direction: row;
}

.top-bar-col {
	justify-content: center;
	align-items: center;
	text-align: center;
}

.logo {
	flex: 1;
	max-width: 10%;
}

.title {
	flex: 5;
	font-size: 62px;
	font-weight: bold;
}

.exit {
	flex: 1;
	max-width: 10%;
	min-height: 100%;
	background-color: var(--txt-blue);
	color: white;
	border-radius: 10px;
	font-weight: bold;
	font-size: 24px;
	padding: 4px;
}

.sett-form {
	display: flex;
	flex-direction: column;
	flex: 1;
	text-align: center;
	justify-items: center;
	align-items: center;
	padding: 30px;
	padding-top: 60px;
}

.sett-table {
	text-align: center;
	padding-bottom: 40px;
	min-width: 80%;
}

.sett-title {
	color: white;
	background-color: var(--txt-blue);
	font-size: 28px;
	font-weight: bold;
	border-start-start-radius: 15px;
	border-start-end-radius: 15px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.sett-row {
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-items: center;
	padding: 10px;
	background-color: white
}

.sett-row td:first-child {
	padding: 5px;
	padding-right: 10px;
}

.sett-row:last-child {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.sett-col {
	flex: 1;
}

.save-button {
	min-width: 30%;
	max-width: 50%;
	min-height: 15%;
	background-color: var(--txt-blue);
	color: white;
	border-radius: 12px;
	font-size: 24px;
	padding: 20px;
	margin: 20px;
}

.user-col {
	text-align: center;
	border: 1px solid var(--txt-blue);
	border-radius: 10px;
	margin-right: 32px;
}

.story-col {
	text-align: center;
	border: 1px solid var(--txt-blue);
	border-radius: 10px;
	margin-right: 16px;
	width: 65%;
}

.stories {
	display: flex;
	flex-direction: column;
	flex: 1;
	text-align: center;
	justify-items: center;
	align-items: center;
	padding: 30px;
	padding-top: 60px;
}


@layer base {

	.titleContainer {
		@apply flex flex-col justify-center items-center bg-my-blue text-white rounded-2xl max-h-3 p-8 w-80 mb-1;
	}

	.content-crop {
		@apply max-w-sm ;
	}

	.formContainer {
		@apply flex flex-col justify-center items-center bg-white rounded-2xl p-5 w-80 gap-4;
	}

	.storyContainer {
		@apply flex flex-col justify-start items-center bg-white p-5 gap-5 basis-0 min-h-fit;
	}

	.input_text_b {
		@apply w-1/2 h-1/6 rounded-2xl rounded-t-none resize-none outline-none text-[20px] text-center font-semibold;
	}

	.input_text_s {
		@apply w-1/2 rounded-2xl rounded-t-none resize-none outline-none text-[20px] text-center font-semibold;
	}

	.input_label {
		@apply w-1/2 bg-my-blue text-white rounded-2xl rounded-b-none resize-none outline-none text-[20px] text-center font-semibold;
	}

	

	
	.story {
		@apply flex flex-col justify-center w-2/3 text-[20px] text-center p-4 px-8 ;
		background-color: white;
		min-height: 150px;
	}

	.storyText {
		@apply h-5/6 text-[20px] text-center p-2;
		background-color: white;
		min-height: 300px;
	}
}

@layer utilities {
	/* TYPOGRAPHY */
	.h1-bold {
		@apply text-[62px] font-bold leading-[140%] tracking-tighter;
	}

	.h1-semibold {
		@apply text-[62px] font-semibold leading-[140%] tracking-tighter;
	}

	.h2-bold {
		@apply text-[48px] font-bold leading-[140%];
	}

	.h3-bold {
		@apply text-[40px] font-bold leading-[140%];
	}

	.base-semibold {
		@apply text-[16px] font-semibold leading-[140%] tracking-tighter;
	}

	.base-medium {
		@apply text-[24px] font-medium leading-[140%];
	}

	.base-regular {
		@apply text-[24px] font-normal leading-[140%];
	}

	.body-bold {
		@apply text-[20px] font-bold leading-[140%];
	}

	.body-medium {
		@apply text-[20px] font-medium leading-[140%];
	}

	.small-semibold {
		@apply text-[18px] font-semibold leading-[140%] tracking-tighter;
	}

	.small-medium {
		@apply text-[18px] font-medium leading-[140%];
	}

	.small-regular {
		@apply text-[18px] font-normal leading-[140%];
	}

	.subtle-semibold {
		@apply text-[14px] font-semibold leading-[140%];
	}

	.subtle-regular {
		@apply text-[14px] font-normal leading-[140%];
	}

	.tiny-medium {
		@apply text-[14px] font-medium leading-[140%];
	}

	/* UTILITIES */
	.invert-white {
		@apply invert brightness-0 transition;
	}

	.flex-center {
		@apply flex justify-center items-center;
	}

	.flex-end {
		@apply flex justify-center items-end;
	}

	.select-bar {
		@apply flex-end w-full p-44;
	}
}

@layer components {
	/* Button */
	.button_primary {
		@apply bg-my-blue text-white gap-2 w-32 h-14 text-[20px] font-semibold !important;
	}

	.item_button {
		@apply bg-my-blue text-white w-3/4 rounded-3xl text-[20px] font-semibold py-8 whitespace-normal !important;
		max-width: 75%;
	}

	.submit_button {
		@apply bg-my-blue text-white w-1/6 rounded-2xl text-[20px] font-semibold py-8 whitespace-normal !important;
		max-width: 75%;
	}

	.home_button {
		@apply bg-my-blue text-white my-10 w-1/4 h-40 rounded-3xl text-[28px] leading-[120%] font-semibold py-8 whitespace-normal !important;
		max-width: 75%;
	}
}
